<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0" xmlns:media="http://www.rssboard.org/media-rss" version="2.0">
<channel>
<title>g-simmons-papercast</title>
<link>https://g-simmons.github.io/g-simmons-papercast/</link>
<language>en-us</language>
<atom:link href="https://g-simmons.github.io/g-simmons-papercast/feed.xml" rel="self" type="application/rss+xml"/>
<copyright>Rights to paper content are reserved by the authors for each paper. I make no claim to ownership or copyright of the content of this podcast.</copyright>
<itunes:subtitle></itunes:subtitle>
<itunes:author>Gabriel Simmons</itunes:author>
<itunes:summary>Podcast of text-to-speech for arbitrarily chosen NLP papers.</itunes:summary>
<itunes:keywords>Machine Learning, Natural Language Processing, Artificial Intelligence</itunes:keywords>
<description>Podcast of text-to-speech for arbitrarily chosen NLP papers.</description>
<itunes:owner><itunes:name>Gabriel Simmons</itunes:name><itunes:email>gsimmons@ucdavis.edu</itunes:email></itunes:owner>
<itunes:image href="https://g-simmons.github.io/g-simmons-papercast/cover.jpg"/>
<itunes:category text="Mathematics"></itunes:category>
<itunes:category text="Tech News"></itunes:category>
<itunes:category text="Courses"></itunes:category>

{% for episode in episode_meta %}
<item>
<title>{{episode['title']}}</title>
<itunes:title>{{episode['title']}}</itunes:title>
<itunes:author>Gabriel Simmons</itunes:author>
<itunes:subtitle>{{episode['subtitle']}}</itunes:subtitle>
<itunes:summary><![CDATA[{{episode['description']}}]]></itunes:summary>
<description><![CDATA[{{episode['description']}}]]></description>
<enclosure url="{{episode['mp3path']}}" length="{{episode['length']}}" type="audio/mpeg"/>
<itunes:duration>{{episode['duration']}}</itunes:duration>
<itunes:season>{{episode['season']}}</itunes:season>
<itunes:episode>{{episode['episode_number']}}</itunes:episode>
<itunes:episodeType>full</itunes:episodeType>
<guid isPermaLink="false">{{episode['mp3path']}}</guid>
<pubDate>{{episode['publish_date']}}</pubDate>
<itunes:explicit>NO</itunes:explicit>
</item>
{% endfor %}

</channel>
</rss>